@using PCStore_MVC.Models.ModelDB
@inject SignInManager<ApplicationUser> SignInManager
@{
	var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
	<li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="профиль" asp-page="./Index">Профиль</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="электронная-почта" asp-page="./Email">Электронная почта</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="изменение-пароля" asp-page="./ChangePassword">Изменение пароля</a></li>
	@if (hasExternalLogins)
	{
		<li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Внешние аккаунты</a></li>
	}
	<li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="двухфакторная-аутентификация" asp-page="./TwoFactorAuthentication">Двухфакторная аутентификация</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="личные-данные" asp-page="./PersonalData">Личные данные</a></li>
</ul>